@charset "utf-8";

/*UNIVERSAL & RESETS*/
* {
	margin: 0;
	padding: 0;
}
body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
.clearfix:after {
	content: "";
	clear: both;
	display: table;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
	width: 0.5em;
	display: none;
}
::-webkit-scrollbar-thumb {
	background-color: #988866;
}

/*TYPOGRAPHY*/
h1 {
	font-family: "Playfair Display", serif;
	font-size: 2em;
	font-weight: normal;
	line-height: 1.25em;
	color: #222;
	margin-bottom: 0.25em;
}
h2 {
	font-family: "Playfair Display", serif;
	font-size: 1.625em;
	font-weight: normal;
	line-height: 1.15em;
	color: #988866;
}
@media (min-width: 768px) {
	h1 {
		font-size: 2.5em;
		line-height: 1.25em;
		margin-bottom: 0.75em;
	}
	h2 {
		font-size: 2em;
		line-height: 1.25em;
	}
}
@media (min-width: 992px) {
	h1 {
		font-size: 3em;
		line-height: 1.25em;
		margin-bottom: 1em;
	}
	h2 {
		font-size: 2.25em;
		line-height: 1.5em;
	}
}
h3 {
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	line-height: 1.25em;
	font-weight: normal;
	color: #988866;
	margin-top: 1em;
}
p {
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	line-height: 1.25em;
	color: #666;
	margin-top: 1em;
}
p a, p a:visited {
	color: inherit;
	text-decoration: none;
	border-bottom: 2px solid #988866;
}
p a:hover {
	color: #988866;
}

/*LANDING*/
.landing {
	height: 100vh;
	position: relative;
	background-color: #000;
}
.landing img {
	width: 25vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-60%,-50%);
}
@media (orientation:portrait) {
	.landing img {
		width: 35vw
	}
}

/*STRUCTURE*/
.container {
	position: relative; /*Needed?*/
	width: 90%;
	margin: auto;
}
.container-max {
	position: relative; /*Needed?*/
	width: 100%;
}
.square, .wide, .tall {
	position: absolute;
	display: block;
	overflow: hidden;
}
.square {
	width: 50%;
}
.wide {
	width: 100%;
}
.tall {
	width: 50%;
}
@media (min-width: 992px) {
	.square {
		width: 25%;
	}
	.wide {
		width: 50%;
	}
	.tall {
		width: 25%;
	}
}

/*INTRO*/

/*WORK 2*/
.work-2 {
	padding: 10% 0;
}
.work-2::after {
	content: "";
	clear: both;
	display: table;
}
.work-2 .summary {
	position: absolute;
	box-sizing: border-box;
	width: 50%;
	padding: 0 2.5% 0 10%;
	float: left;
	top: 50%;
	transform: translateY(-50%);
}
.work-2 .image {
	box-sizing: border-box;
	width: 50%;
	padding-left: 2.5%;
	float: right;
}
.work-2 .image div {
	padding-bottom: 56.25%;
	background-color: red;
	background-size: cover;
	background-position: center;
	background-image: url(https://images.unsplash.com/photo-1461352195749-fdba50b79c74?crop=entropy&fit=crop&fm=jpg&h=500&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=750);
}
.cta {
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	line-height: 1.25em;
	padding: 1em;
	display: inline-block;
	margin-top: 1.5em;
	text-decoration: none;
}
.cta.outline {
	color: #666;
	border: 1px solid #666;
	transition: all 0.25s;
}
.cta.outline:hover {
	color: #fff;
	border-color: #988866;
	background-color: #988866;
	transition: all 0.25s;
}
.cta.solid {
	color: #fff;
	background-color: #988866;
	transition: all 0.25s;
}
.cta.solid:hover {
	color: #fff;
	background-color: #000;
	transition: all 0.25s;
}
.bar {
	height: 2px;
	width: 5vw;
	margin-bottom: 1em;
}
.bar.gold {
	background-color: #998866;
}
.bar.grey {
	background-color: #666;
}
.bar.black {
	background-color: #000;
}
@media (min-width: 992px) {
	.work-2 {
		padding: 5% 0;
	}
}
.work-2 .columns {
	padding: 5% 2.5% 0 2.5%;
	box-sizing: border-box;
}
.work-2 .item {
	width: 25%;
	box-sizing: border-box;
	padding: 0 2.5%;
	float: left;
}
.work-2 .item:nth-child(1) {
	width: 50%;
}
.work-2 .item:nth-child(1) > div {
	padding-bottom: 0;
}
.work-2 .item .large {
	width: 60%;
	float: left;
}
.work-2 .item .large div {
	padding-bottom: 100%;
}
.work-2 .item .wrapper {
	box-sizing: border-box;
	width: 40%;
	float: left;
	padding-left: 5%;
}
.work-2 .item div {
	padding-bottom: 75%;
	background-size: cover;
	background-position: center;
}
.title {
	text-align: center;
	padding-bottom: 5%;
}
.title .bar {
	height: 1px;
	width: 2.5%;
	margin: auto;
}
.archive {
	position: relative;
	left: 50%;
	transform: translate(-50%, -100%);
	margin-top: 0;
}

/*NEXT*/
.next {
	width: 100vw;
	height: 100vh;
	background-color: #eee;
}