@charset "utf-8";

/*UNIVERSAL & RESETS*/
* {
	margin: 0;
	padding: 0;
}
body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
.clearfix:after {
	content: "";
	clear: both;
	display: table;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
	width: 0.5em;
}
::-webkit-scrollbar-thumb {
	background-color: #988866;
}

/*TYPOGRAPHY*/
h1 {
	font-family: "Playfair Display", serif;
	font-size: 2em;
	font-weight: normal;
	line-height: 1.25em;
	color: #222;
	margin-bottom: 0.25em;
}
h2 {
	font-family: "Playfair Display", serif;
	font-size: 1.625em;
	font-weight: normal;
	line-height: 1.15em;
	color: #988866;
}
@media (min-width: 768px) {
	h1 {
		font-size: 2.5em;
		line-height: 1.25em;
		margin-bottom: 0.75em;
	}
	h2 {
		font-size: 2em;
		line-height: 1.25em;
	}
}
@media (min-width: 992px) {
	h1 {
		font-size: 3em;
		line-height: 1.25em;
		margin-bottom: 1em;
	}
	h2 {
		font-size: 2.25em;
		line-height: 1.5em;
	}
}
h3 {
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	line-height: 1.25em;
	font-weight: normal;
	color: #988866;
	margin-top: 1em;
}
p {
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	line-height: 1.25em;
	color: #666;
	margin-top: 1em;
}
p a, p a:visited {
	color: inherit;
	text-decoration: none;
	border-bottom: 2px solid #988866;
}
p a:hover {
	color: #988866;
}

/*LANDING*/
.landing {
	height: 100vh;
	position: relative;
	background-color: #000;
}
.landing img {
	width: 25vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-60%,-50%);
}
@media (orientation:portrait) {
	.landing img {
		width: 35vw
	}
}

/*STRUCTURE*/
.container {
	position: relative; /*Needed?*/
	width: 90%;
	margin: auto;
}
.square, .wide, .tall {
	position: absolute;
	display: block;
	overflow: hidden;
}
.square {
	width: 50%;
}
.wide {
	width: 100%;
}
.tall {
	width: 50%;
}
@media (min-width: 992px) {
	.square {
		width: 25%;
	}
	.wide {
		width: 50%;
	}
	.tall {
		width: 25%;
	}
}

/*INTRO*/

/*WORK*/
.work {
	padding: 10% 0;
}
.work:after {
	content: "";
	clear: both;
	display: table;
}
.work .intro {
	padding-bottom: 10%;
	text-align: center;
}
.work .projects {
	position: relative;
	padding-bottom: 200%;
}
.work .projects .background {
	height: 0;
	padding-bottom: 100%;
	background-size: cover;
	background-position: center;
	transition: all 0.5s;
}
.work .projects .wide .background {
	padding-bottom: 50%;
}
.work .projects .tall .background {
	padding-bottom: 200%;
}
.work .projects .background:hover {
	transform: scale(1.1);
}

/*Mobile*/
#project-1 { top: 0; left: 0;}
#project-2 { top: 0; right: 0;}
#project-3 { top: 25%; left: 0;}
#project-4 { top: 50%; left: 0;}
#project-5 { top: 50%; right: 0;}
#project-6 { top: 75%; right: 0;}
#project-7 { display: none;}

@media (min-width: 992px) {
	.work {
		padding: 5% 0;
	}
	.work .intro {
		position: absolute;
		display: flex;
		text-align: left;
		width: 50%;
		height: 33.33333%;
		box-sizing: border-box;
		padding: 0 5%;
		align-items: center;
	}
	.work .projects {
		padding-bottom: 75%;
	}
	/*Desktop*/
	#project-1 { top: 0; left: 50%;}
	#project-2 { top: 0; right: 0;}
	#project-3 { top: 33.33333%; left: 25%;}
	#project-4 { top: 33.33333%; left: 0;}
	#project-5 { top: 33.33333%; right: 0;}
	#project-6 { top: 66.66666%; left: 25%;}
	#project-7 { top: 66.66666%; left: 50%; display: block;}
}

/*HISTORY*/

/*FOOTER*/