@charset "utf-8";

/*UNIVERSAL & RESETS*/
* {
	margin: 0;
	padding: 0;
}
body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
.clearfix:after {
	content: "";
	clear: both;
	display: table;
}

/*GRID STRUCTURE*/
.container {
	padding: 8% 2.5%;
	margin: auto;
}
.container:after {
	content: "";
	clear: both;
	display: table;
}
@media (min-width: 768px) {
	.container {
		padding: 5% 1.5%;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1100px;
	}
}
@media (min-width: 1440px) {
	.container {
		max-width: 1366px;
	}
}
.col-1, .col-2, .col-3 {
	box-sizing: border-box;
	width: 100%;
	padding: 0 1.5%;
	float: left;
}
@media (min-width: 768px) {
	.col-2 {
		width: 50%;
	}
}
@media (min-width: 992px) {
	.col-3 {
		width: 33.33333%;
	}
}

/*TYPOGRAPHY*/
h1 {
	font-family: "Playfair Display", serif;
	font-size: 2em;
	font-weight: normal;
	line-height: 1.25em;
	color: #222;
	margin-bottom: 0.25em;
}
h2 {
	font-family: "Playfair Display", serif;
	font-size: 1.625em;
	font-weight: normal;
	line-height: 1.15em;
	color: #988866;
}
@media (min-width: 768px) {
	h1 {
		font-size: 2.5em;
		line-height: 1.25em;
		margin-bottom: 0.75em;
	}
	h2 {
		font-size: 2em;
		line-height: 1.25em;
	}
}
@media (min-width: 992px) {
	h1 {
		font-size: 3em;
		line-height: 1.25em;
		margin-bottom: 1em;
	}
	h2 {
		font-size: 2.25em;
		line-height: 1.5em;
	}
}
h3 {
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	line-height: 1.25em;
	font-weight: normal;
	color: #988866;
	margin-top: 1em;
}
p {
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	line-height: 1.25em;
	color: #666;
	margin-top: 1em;
}
a, a:visited {
	color: inherit;
	text-decoration: none;
	border-bottom: 2px solid #988866;
}
a:hover {
	color: #988866;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
	width: 0.5em;
}
::-webkit-scrollbar-thumb {
	background-color: #988866;
}

/*LANDING*/
.landing {
	height: 100vh;
	position: relative;
	background-color: #000;
}
.landing img {
	width: 25vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-60%,-50%);
}
@media (orientation:portrait) {
	.landing img {
		width: 35vw
	}
}

/*INTRO*/
.intro {
	background-color: #eee;
	padding-bottom: 3%;
}
.intro .bar {
	width: 20%;
	height: 2px;
	background-color: #988866;
	margin-bottom: 6%;
}
@media (min-width: 768px) {
	.intro {
		padding-bottom: 5%;
	}
	.intro .bar {
		width: 10%;
		margin-bottom: 5%;
	}
}

/*WORK*/
.work .container > div {
	padding-bottom: 3%;
}
.work .project {
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
	position: relative;
}
@media (max-width: 767px) {
	.work .container > div {
		padding-bottom: 4%;
	}
	.work .project {
		padding-bottom: 50%;
	}
	.work p {
		margin: 0.75em 0 0.5em;
	}
}
.work .project .background {
	height: 0;
	padding-bottom: 100%;
	background-size: cover;
	background-position: center;
	-moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.work .project .background:hover {
	-moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.work .project .wrapper {
	position: absolute;
	width: 100%;
	padding: 5%;
	left: 0;
	bottom: 0;
}
.work .project p {
	color: #fff;
	margin: 0;
}
.work .project span {
	position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.work .container > div:nth-child(2) .background {
	background-image: url(https://images.unsplash.com/photo-1465205568425-23fdd3805e49?crop=entropy&fit=crop&fm=jpg&h=800&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1200);
}
.work .container > div:nth-child(3) .background {
	background-image: url(https://images.unsplash.com/photo-1465158753229-aa725fff85a1?crop=entropy&fit=crop&fm=jpg&h=500&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=725);
}
.work .container > div:nth-child(4) .background {
	background-image: url(https://images.unsplash.com/photo-1464621922360-27f3bf0eca75?crop=entropy&fit=crop&fm=jpg&h=500&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=750);
}
.work .container > div:nth-child(5) .background {
	background-image: url(https://images.unsplash.com/photo-1461352195749-fdba50b79c74?crop=entropy&fit=crop&fm=jpg&h=500&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=750);
}
.work .container > div:nth-child(6) .background {
	background-image: url(https://images.unsplash.com/photo-1463123081488-789f998ac9c4?dpr=1&auto=compress,format&crop=entropy&fit=crop&w=991&h=661&q=80);
}
.work .container > div:nth-child(7) .background {
	background-image: url(https://images.unsplash.com/photo-1452473767141-7c6086eacf42?dpr=1&auto=compress,format&crop=entropy&fit=crop&w=991&h=661&q=800);
}

/*HISTORY*/
.history {
	background-color: #eee;
}
.history p {
	margin: 0;
}
.history .company {
	color: #000;
	margin: 0.5em 0;
}
.history .institution {
	color: #000;
	margin-top: 0.5em;
}
@media (max-width: 768px) {
	.history .education::before {
		content: "";
		margin: 1.75em 0;
		height: 2px;
		width: 20%;
		background-color: #988866;
		display: block;
	}
}

/*FOOTER*/
.footer {
	background-color: #000;
}
.footer p {
	color: #fff;
}
.footer p:first-child {
	margin: 0;
}
@media (min-width: 768px) {
	.footer .container {
		padding: 3% 1.5%;
	}
	.footer p {
		margin: 0;
		display: inline;
	}
	.footer p:first-child {
		margin-right: 2em;
	}
}